
<form [formGroup]="thingForm" class="example-form" (ngSubmit)="onThingSubmit()">

  <h2>Register</h2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="What" id="what-input" formControlName="what">
      <mat-error>
        Please provide a what you wants to be saved !!
      </mat-error>
    </mat-form-field> 
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Where" id="where-input" formControlName="where">
      <mat-error>
        Please Specify, where you wants to save it !!
      </mat-error>
    </mat-form-field>  
  
    <button mat-raised-button color="primary" id="registerThing" [disabled]="isLoading">Register Thing</button>
  </form>